.main {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h1 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    font-size: 50px;
    color: #F3F2F3;
}
 
.main a {
  text-decoration: none;
  position: relative;
  color: white;
}

.main a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;  
  height: 2px;
  background: #ffffff;
  transform-origin: right top;
  transform: scale(0, 1); 
  transition: transform .2s ease-out;
}

.main a:hover:after {
  transform-origin: left top;
  transform: scale(1, 1); 
}

a {
    color: #F3F2F3;
    text-decoration: none;
}

a:active {
  color: #F3F2F3;
  text-decoration: none;
}

a:visited {
  color: #F3F2F3;
  text-decoration: none;
}

.text {
    z-index: 2;
    animation: textPulse 5s infinite;  
  }

  @keyframes textPulse {
    0% {
      color: #F3F2F3;
    }
    50% {
      color: rgb(255, 255, 255)2F3;
    }
    100% {
      color: #F3F2F3;
    }  
  }

.ghost {
    position: absolute;
    opacity: 40%;
    filter: blur(3px);
    z-index: 1;
  }

body {
    animation: pulse 10s infinite;
}
  
@keyframes pulse {
    0% {
      background-color: #1D2556; 
    }
    50% {
      background-color: #141a3d;
    }
    100% {
      background-color: #1D2556;
    }
  } 

.headlink {
  color: #F3F2F3;
  text-decoration: none;
  position: relative;
}

.headlink:active {
  color: #F3F2F3;
  text-decoration: underline;
}

.headlink:visited {
  color: #F3F2F3;
  text-decoration: underline;
}

.headlink:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;  
  height: 2px;
  background: #F3F2F3;
  transform-origin: center bottom;
  transform: scale(0, 1);
  transition: transform .3s ease-out;
}

a:hover:after {
  transform-origin: center bottom;
  transform: scale(1, 1);
}

.headdiv {
  padding: 10px;
  display: flex;
  gap: 20px;
}

/* WebKit (Chrome, Safari, and Opera) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000044;
  border-radius: 2px;
  transition: 0.3s;
}

  /* Style scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff57;
  }


  .projects {
    display: flex;
    justify-content: center;
  }


.projects img {
  height: 150px;
}




