h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 50px;
    color: #F3F2F3;
}

a {
    color: #F3F2F3;
    text-decoration: none;
}

.text {
    z-index: 2;
  }

.ghost {
    position: absolute;
    opacity: 20%;
    z-index: 1;
  }

body {
    animation: pulse 10s infinite;
}
  
@keyframes pulse {
    0% {
      background-color: #1D2556; 
    }
    50% {
      background-color: #141a3d;
    }
    100% {
      background-color: #1D2556;
    }
  }