h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 50px;
    color: #F3F2F3;
}

a {
    color: #F3F2F3;
    text-decoration: none;
}

a:active {
  color: #F3F2F3;
  text-decoration: none;
}

a:visited {
  color: #F3F2F3;
  text-decoration: none;
}

.text {
    z-index: 2;
    animation: textPulse 5s infinite;  
  }

  @keyframes textPulse {
    0% {
      color: #F3F2F3;
    }
    50% {
      color: rgb(255, 255, 255)2F3;
    }
    100% {
      color: #F3F2F3;
    }  
  }

.ghost {
    position: absolute;
    opacity: 40%;
    filter: blur(3px);
    z-index: 1;
  }

body {
    animation: pulse 10s infinite;
}
  
@keyframes pulse {
    0% {
      background-color: #1D2556; 
    }
    50% {
      background-color: #141a3d;
    }
    100% {
      background-color: #1D2556;
    }
  } 

.search {
  color: #F3F2F3;
  text-decoration: underline;
}

.search:active {
  color: #F3F2F3;
  text-decoration: underline;
}

.search:visited {
  color: #F3F2F3;
  text-decoration: underline;
}